# Dependency directories
node_modules/
jspm_packages/

# Testing directories
coverage/
.nyc_output/

# Environment files
.env
.env.*

# Build files
dist/
build/
out/

# OS and IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Log files
*.log

# Temporary files
*.tmp

# User-specific files
*.sublime-project
*.sublime-workspace
*.suo
*.user
*.userosscache
*.sln
*.swp
