<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form action="/user/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username"/>
        <label for="password">Password</label>
        <input type="text" name="password">
        <button type="submit">Sign Up</button>
    </form>
    <button onclick="redirectToLogIn()">Log In</button>
    <script>
        function redirectToLogIn(){
            window.location.href="/user/login";
        }
    </script>
</body>
</html>